<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<!-- ******************************************** -->
	<!-- Extractor -->
	<!-- ******************************************** -->

	<bean id="extractorService"
		class="skCzStemmer.services.extractor.MediaWikiExtractor" />

	<!-- ******************************************** -->
	<!-- Preprocess -->
	<!-- ******************************************** -->

	<bean id="processorService"
		class="skCzStemmer.services.stemmer.ProcessorDefaultService" 
		/>

	<!-- ******************************************** -->
	<!-- Threading -->
	<!-- ******************************************** -->

	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="10" />
		<property name="maxPoolSize" value="30" />
	</bean>

	<!-- ******************************************** -->
	<!-- Database -->
	<!-- ******************************************** -->

	<bean id="databaseService"
		class="skCzStemmer.services.database.service.DatabaseDefaultService" />
</beans>